.header {
  position: sticky;
  top: 0;
  background-color: var(--bg-dark);
}

.app {
  flex-grow: 1;
  background-color: var(--bg-off);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.caputcha__container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  position: sticky;
  bottom: 0;
  background-color: var(--bg-dark);
}
