@use "normalize.css";
@import "https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;800;900&display=swap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --normal: #fff;
  --normal-off: #dcdcdc;
  --primary: #5436da;
  --secondary: #10a37f;
  --bg: #262121;
  --bg-off: #262121bb;

  font-family: "Alegreya Sans", sans-serif;
  color-scheme: dark;
  color: var(--normal-off);
  background-color: var(--bg-off);

  app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
}

button {
  outline: 0;
  border: 0;
  cursor: pointer;
  background-color: transparent;
  &:disabled {
    cursor: default;
  }
}

input,
button,
textarea {
  &:disabled {
    opacity: 0.2;
  }
}

svg {
  width: 2rem;
  height: 2rem;
}
